{% extends "layout.html" %}

{% block title %}
    Services
{% endblock %}

{% block body %}
    <!--Navigation Bar-->
    <nav class="navbar navbar-inverse">
        <div class="topnav">
        <a href="/">
        <img class="CultIcon" src="../static/CultIcon.png" height="50" width="50">
        <a href="/" style="color: white;"><strong>Home</strong></a>
        <a href="Portfolio.html" style="color: white;"><strong>Portfolio</strong></strong></a>
        <a href="Services.html" class="active" style="color: white;"><strong>Services</strong></a>
        <a href="Contact.html" style="color: white;"><strong>Contact</strong></a>
        </div>
    </nav>
    <!--Services-->
    <h1><strong>Services</strong></h1>
    <h3>Producing</h3>
        <p3>Aimed to capture the integrity of the artist and their art, Andrew can fit the producer role for your project.
        Whether that be helping flow your thoughts and music, or fully producing your art, Andrew is here to deliver the highest quality product for you.</p3>
    <h3>Mixing/Mastering</h3>
        <p class="MixMaster">Whether you need modern, clear mixes, or raw, organic mixes, Andrew is here to work with you to make sure your vision comes to life.
        <br>Andrew uses comprehensive, Digital Mastering to insure your art has the clarity, dephth, and punch to stand out amongst all other songs.
        <br>If you require stems for live backtracks or remixes, we can properly exported and organized processed stems to meet any of your needs.</p>
    <h3>Engineering</h3>
        <p3>If you need someone to exclusively record your songs, Andrew will engineer your sessions to guarantee every track is recorded to the highest possible standard. </p3>
    <h3>Writing</h3>
        <p3>If you're stuck with writers block, looking for someone to collaborate with, or require full songs written, Andrew can meet all your needs and deliver the best songs
        to complement your vision. </p3>
        <br>

    <!--Contact Us Box-->
    <h6>Know what you'd like?</h6>
    <div class= ContactBoys>
        <a href="Contact.html">
        <input type="submit" value="Contact Us">
        </a>
    </div>
{% endblock %}

